/* home css */
.banner{
  height: 50vh;
  background:linear-gradient(to right, #5946e3,#5946e3,#5946e4);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.productcard img{
  height: 12rem;
  object-fit: contain;
}

.productcard img:hover{
  transform: scale(1.2);
  transition: all 3s ease-in-out;
}



.cart img{
  width: 4rem!important;
  height: 4rem!important;
}

.details1 img{
  height: 12rem;
  object-fit: contain;
}

.login{
  background-color: #080710;

}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.format{
 width: 400px!important;
 height: 420px!important;
 background-color: rgba(225, 225, 225, 0.13)!important;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(225, 225, 225, 0.1);
box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
padding: 50px 35px;
color: #fff;
 
}
h3{
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  font-weight: 500;
}
::placeholder{
  color: #e5e5e5;
}

.loginlb{
  display: block;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  
}

.input{
  display: block;
  height: 50px;
  width: 20rem;
  background-color: rgba(225, 225, 225, 0.7);
  border-radius: 3px;
  padding: 0 20px;
  margin-top: 8px;
  font-size: 14px;
  font-family: 300;
}
.btn2{
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 15px 0;
  border-radius: 5px;
}

.signup{
  background-color: #5946e3;
}
.input1{
  display: block;
  height: 40px;
  width: 20rem;
}
.btn3{
  margin-top: 22px;
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 7px;
  border-radius: 5px;
}
